/*
01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
-Font weight

-Font height
Default :1
 --02 Colors

 Primary : #e67e22
 --Tints
 --Shades
 --Accents
 --Greys
 --#555
 --05 Shadows
 --06 Border Raduis
 --07 Whitespace
 - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 
 */
 /* ************* */
 /* component général */
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 html {
    font-size: 62.5%;
}
/* percentage of user's browser front-size setting */
body {
    font-family:"Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    background-color: #f5f5dc;
}
.grid{
    display: grid;
    gap: 20px;
} 

.grid--2-col{
    grid-template-columns: repeat(2, 1fr);
}

.grid--5-col {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; 
}


.h2-title {
    color: #8b4513;
    font-size: 4.2rem;
    text-align: center;
    padding: 3.8rem;  
}


.container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 4.8rem;
}

/* ************** */
/* Navigation component */
/* ************** */

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
    align-items: center;
   
  
}

.main-nav {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 20px;
}

.main-nav:link,
.main-nav:visited {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 2.3rem;
    transition: all 300ms;

}

.background-image {
    position: relative;
    max-width: 100%;
    height: 80rem;
    background: url(image/back1.jpg) no-repeat fixed  center center;
    background-size: cover;
    
    
}

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Changez l'opacité pour plus ou moins de sombre */
    z-index: 1;
    
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.content, h1 {
    font-size: 8.8rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
    margin-top: 60px;
    
}

.content, p {
    font-size: 2.8rem;
    line-height: 1.6;
    margin-bottom: 3.2rem;
  
}

.logo {
   font-size: 40rem;
    
}

.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    padding: 0 4.8rem;
    font-size: 3rem;
}
/* *********** */
/* bouton */
/* ********** */
.btn {
    background-color: #8b4513;
    color: #fff;
    padding: 1.2rem 2.4rem;
    text-decoration: none;
    border-radius: 9px;
    font-size: 2.6rem;
    font-weight: 600;
    transition: background-color 1s;
    
}

.btn:hover,
.btn-full:hover {
    background-color: #97582b;
}


.btn-full {
    background-color: #8b4513;
    color: #fff;
    text-decoration: none;
    border-radius: 9px;
    font-size: 2.6rem;
    font-weight: 600;
    transition: background-color 1s;
    padding: 1.2rem 2.4rem;
    
}


/* ***************** */
/* Feature row */
/* ***************** */

.conten{
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem;
    
}
.feature-row-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}
.feature-row-text {
    flex: 1;
    padding-right: 20px;
    margin-top: -20rem;
}

.feature-row-text h3 {
    color: #8b4513; 
    font-size: 2.2rem;
    margin-bottom: 10px;  
}
.feature-row-text p {
    font-size: 2rem;
    color: #333333;
}
.feature-row-image {
    flex: 1;
}
.feature-row-image img {
    width: 100%;
    border-radius: 10px;
}



/* ***************** */
/* Section categorie */
/* ***************** */

.categories {
    display: flex;
    justify-content: center;
    gap: 12px;
}
.category {
    background-color: #fff;
    width: 18rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}
.category:hover {
    transform: scale(1.05);
}
.category h3 {
    color: #ff6347; 
    margin-bottom: 10px;
    font-size: 2.2rem;
}
.category p {
    color: #333;
    font-size: 1.8rem;
}

/* ***************** */
/* Section testimonial */
/* ***************** */

.testimonials-section {
    text-align: center;
    padding: 50px 20px;
   
}

.testimonials-section .subheading {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

.testimonials-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.testimonial {
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}

.testimonial-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 4px solid #ff6347;
}

.quote {
    font-size: 1.6rem;
    color: #555;
    margin: 0 0 10px;
    position: relative;
    padding: 0 10px;
}

.quote i {
    color: #ff6347;
}

.author {
    font-weight: bold;
    color: #333;
    margin: 10px 0 5px;
}

.position {
    font-size: 14px;
    color: #777;
}




.display-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    
}
#Menu {
    background-color: #fff;
}
.product-card {
    border-radius: 8px;
    width: 300px;
    
    text-align: center;
    padding: 15px;
}

.product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.product-card p {
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
}

.button-container {
    text-align: right;
}

.btn-right {
    font-size: 1.5rem;
    background-color: #8B4513; 
    color: white;
    padding: 1.2rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
}

.btn-right:hover {
    background-color: #5A2D0C; 
}



footer {
    color: #333;
    padding: 40px 20px;
}
.footer {
    max-width: 1200px;
    margin: auto; 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    flex-wrap: wrap;
    font-size: 2.5rem;
}
.footer-text h3 {
    flex: 1; 
    min-width: 250px; 
    margin: 10px;
    font-size: 2.6rem;
}
.footer-text p {
    flex: 1; 
    min-width: 250px; 
    margin: 10px;
    font-size: 1.6rem;
}
.foot {
    flex: 1; 
    min-width: 250px; 
    margin: 10px;
}
.form {
    display: flex; 
    flex-direction: column;
}
.button-foot {
    background-color: #8b4513; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}
.foot-row {
    text-align: center; 
    padding: 10px; 
    border-top: 1px solid #ff6347; 
    margin-top: 20px;
}



/* Media Queries */
@media (max-width: 1200px) {
    .grid--5-col {
        grid-template-columns: repeat(3, 1fr);
    }

    .feature-row-box {
        flex-direction: column;
    }

    .feature-row-text {
        margin-top: 0;
    }
}

@media (max-width: 992px) {
    .grid--5-col {
        grid-template-columns: repeat(2, 1fr);
    }

    .header {
        flex-direction: column;
    }

    .feature-row-text {
        text-align: center;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .grid--2-col {
        grid-template-columns: 1fr;
    }

    .grid--5-col {
        grid-template-columns: 1fr;
    }

    .main-nav-list {
        flex-direction: column;
        align-items: center;
    }

    .main-nav {
        padding: 10px 0;
    }

    .content h1 {
        font-size: 4.4rem;
    }

    .content p {
        font-size: 2rem;
    }

    .btn, .btn-full {
        font-size: 2rem;
        padding: 0.8rem 1.6rem;
    }

    .categories {
        flex-direction: column;
        align-items: center;
    }

    .category {
        width: 80%;
    }

    .testimonials-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
.header {
        padding: 0 2.4rem;
    }

   

 h3, .category h3 {
        font-size: 1.8rem;
    }

.category p {
        font-size: 1.6rem;
    }

.btn, .btn-full {
        font-size: 1.6rem;
        padding: 0.6rem 1.2rem;
    }
}
